## MacOS
.env*
*.DS_Store
.DS_Store
node_modules
package.json
dist


## Jekyll
/_site/
_site
.jekyll-metadata
.jekyll-cache
.jekyll
.sass-cache
_asset_bundler_cache

# Ruby Gem
*.gem
.bundle
Gemfile.lock
Gemfile
**/vendor/bundle



## Personal
00_template.md
개인메모.md