---
<!-- classes: wide --> 
layout: default
---
<script>
  function copy(){
    const url = this.location.origin + this.location.pathname // 링크 주소 변수에 담기
    const el = document.createElement('textarea'); // 복사하기 위해 임시로 textarea 생성
    el.value = url; // textarea에 주소 담기
    document.body.appendChild(el); // textarea 를 body에 연결
    el.select(); // textarea 내용 선택
    document.execCommand('copy');	// 복사
    document.body.removeChild(el); // 만들었던 textarea 삭제
    document.getElementById("copyURL").innerHTML = '<i class="fas fa-link" aria-hidden="true"></i> Copied!'; // 버튼 텍스트 Copied! 로 바꾸기
  }
</script>

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page h-entry" itemscope itemtype="https://schema.org/CreativeWork" style="margin-top:30px;"><!-- (수정)위에 간격 때문에 margin-top 추가 -->
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header style="margin-bottom:80px;"> <!-- (수정)본문이랑 거리 띄우려고 margin-bottom 추가 -->
          {% if page.title %}<h1 id="page-title" class="page__title p-name" itemprop="headline">
            <a href="{{ page.url | absolute_url }}" class="u-url" itemprop="url">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</a>
          </h1>{% endif %}
          {% include page__meta.html %}
          <!-- (수정)아래꺼 시간 표시, 카테고리-태그(page__taxonomy.html) 새로 추가하고 폰트 크기 줄임. -->
          <p class="page__date" style="font-size: 0.75rem;"><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }} <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: " %Y.%m.%d" }}</time></p>
          <div style="font-size: 0.75rem;">
            {% include page__taxonomy.html %}
          </div>
        </header>
      {% endunless %}

      <section class="page__content e-content" itemprop="text">
        {% if page.toc %}
          <aside class="sidebar__right {% if page.toc_sticky %}sticky{% endif %}">
            <nav class="toc">
              <header><h4 class="nav__title"><i class="fas fa-{{ page.toc_icon | default: 'file-alt' }}"></i> {{ page.toc_label | default: site.data.ui-text[site.locale].toc_label | default: "On this page" }}</h4></header>
              {% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu" skip_no_ids=true %}
            </nav>
          </aside>
        {% endif %}
        {{ content }}
        {% if page.link %}<div><a href="{{ page.link }}" class="btn btn--primary">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
      </section>

      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        <!--(수정) 글 아래에 태그, 카테고리, 날짜 표시되는거 삭제-->
        <!-- {% include page__taxonomy.html %} -->
        <!-- {% include page__date.html %} --> 
      </footer>

      <!-- (수정) 링크 복사하기, 맨 위로 이동하기 기능 버튼 추가 -->
      <div>
        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 100%;">
          <a id="copyURL" onclick="copy()" class="btn btn--inverse"><i class="fas fa-link" aria-hidden="true"></i><span> Copy URL</span></a>
          <a href="#" class="btn btn--warning"><i class="fas fa-angle-double-up" aria-hidden="true"></i><span> Top</span></a>
        </div>
      </div>

      {% if page.share %}{% include social-share.html %}{% endif %}

      {% include post_pagination.html %}
    </div>

    {% if jekyll.environment == 'production' and site.comments.provider and page.comments %}
      {% include comments.html %}
    {% endif %}
  </article>

  {% comment %}<!-- only show related on a post page when `related: true` -->{% endcomment %}
  {% if page.id and page.related and site.related_posts.size > 0 %}
    <div class="page__related">
      <h2 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h2>
      
      <div class="grid__wrapper">
        {% for post in site.related_posts limit:10 %}
          {% include archive-single.html %} <!-- (수정)recent posts 표시 방식 변경  default= % include archive-single.html type="grid" % -->
        {% endfor %}
      </div>
    </div>
  {% comment %}<!-- otherwise show recent posts if no related when `related: true` -->{% endcomment %}
  {% elsif page.id and page.related %}
    <div class="page__related">
      <h2 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h2>
      <div class="grid__wrapper">
        {% for post in site.posts limit:4 %}
          {% if post.id == page.id %}
            {% continue %}
          {% endif %}
          {% include archive-single.html type="grid" %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>